/*MCU Booking*/
.mcu_deleted, .mcu_deleted a, .mcu_deleted a:visited {
  background-color: red;
  color: white;
}

.mcu_ok {
  background-color: green;
}

.mcu_modified {
  background-color: orange;
}

.mcu_booking  {
  margin-bottom: 45px;
}

.mcu_booking td, .mcu_booking th {
  padding-left: 10px;
}

/*vidkonf reservetion form layout*/
#edit-conf-layout-all {
  padding: 0;
  margin: 0;
  width: 350px;
}

#edit-conf-layout-all .form-item {
  float: left;
  margin: 0 20px 5px 20px;
}

#edit-conf-layout-all .form-item label input{
  display: block;
  float: left;
  margin-top: 50px;
  margin-right: -30px;
}

.form-radio img{
  display: block;
  float: left;
  margin-left: -20px;
  margin-right: 20px;
}

#edit-conf-participants-wrapper {
  clear: both;
}

.ui-dialog {
  background-color: white;
  border: 2px solid #000;
  padding: 5px;
}

.ui-dialog-titlebar {
  background-color: #EDBF8C;
  margin: -5px -5px 0 -5px;
  padding: 0 5px;
}

.ui-dialog-titlebar-close {
  float: right;
}

.ui-dialog-content {
  overflow: auto;
}

.ui-widget-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  filter: alpha(opacity = 50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

.question_image img.question {
  float: none;
  clear: both;
}

#mcu_booking_details {
  line-height: 250%;
  font-family: Arial, Verdana, Helvetica, sans-serif;
}
